Repository Shopify/polaris, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Shopify/polaris-team, @Shopify/polaris-eng, @Shopify/polaris-ux

[Text] Update heading variants to use composite tokens
  polaris-react/src/components/Text/Text.scss
Owners: @Shopify/polaris-team

Test detail in markdown file
  documentation/guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Update border regex to use detail tags
  documentation/guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Update color regex to use detail tags
  documentation/guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Add v12 whats new page
  polaris-react/README.md
  polaris.shopify.com/content/new-design-language/index.md
  polaris.shopify.com/content/version-guides/index.md
  polaris.shopify.com/content/version-guides/migrating-from-v11-to-v12.md
  polaris.shopify.com/content/whats-new/new-design-language.md
  polaris.shopify.com/content/whats-new/version-12.md
  polaris.shopify.com/next.config.js
  polaris.shopify.com/src/components/HomePage/HomePage.tsx
Owners: @Shopify/polaris-team, @Shopify/polaris-eng

[Text] Fix `headingXs` variant styles
  polaris-react/src/components/Text/Text.scss
Owners: @Shopify/polaris-team

Update `Toast` colors
  polaris-react/src/components/Frame/components/Toast/Toast.scss
Owners: @Shopify/polaris-team

Add v12 whats new page (#10766)
  polaris-react/README.md
  polaris.shopify.com/content/new-design-language/index.md
  polaris.shopify.com/content/version-guides/index.md
  polaris.shopify.com/content/version-guides/migrating-from-v11-to-v12.md
  polaris.shopify.com/content/whats-new/new-design-language.md
  polaris.shopify.com/content/whats-new/version-12.md
  polaris.shopify.com/next.config.js
  polaris.shopify.com/src/components/HomePage/HomePage.tsx
Owners: @Shopify/polaris-team, @Shopify/polaris-eng

Add v12 whats new page (#10766)
  polaris-react/README.md
  polaris.shopify.com/content/new-design-language/index.md
  polaris.shopify.com/content/version-guides/index.md
  polaris.shopify.com/content/version-guides/migrating-from-v11-to-v12.md
  polaris.shopify.com/content/whats-new/new-design-language.md
  polaris.shopify.com/content/whats-new/version-12.md
  polaris.shopify.com/next.config.js
  polaris.shopify.com/src/components/HomePage/HomePage.tsx
Owners: @Shopify/polaris-team, @Shopify/polaris-eng

Update `Tag` colors
  polaris-react/src/components/Tag/Tag.scss
Owners: @Shopify/polaris-team

Update font regex to use detail tags
  documentation/guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Update shadow regex to use detail tags
  documentation/guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Update space regex to use detail tags
  documentation/guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Account for component migrations in token regexp
  documentation/guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Fix formatting
  documentation/guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Fix formatting
  documentation/guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Fix detail
  documentation/guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Add new migration steps for font migration
  documentation/guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

[Button] Update `primary` button font weight
  polaris-react/src/components/Button/Button.scss
Owners: @Shopify/polaris-team

Update polaris-migrator/src/migrations/v12-styles-replace-custom-property-color/transform.ts
  polaris-migrator/src/migrations/v12-styles-replace-custom-property-color/transform.ts
Owners: @Shopify/polaris-eng

Replace colorsExperimental with colors and remove deprecated tokens
  polaris-tokens/src/themes/base/color.ts
Owners: @Shopify/polaris-eng

`Toast` color update (#10767)
  polaris-react/src/components/Frame/components/Toast/Toast.scss
Owners: @Shopify/polaris-team

`Toast` color update (#10767)
  polaris-react/src/components/Frame/components/Toast/Toast.scss
Owners: @Shopify/polaris-team

Migrate `font` custom properties from v11 to v12 (#10762)
  .changeset/empty-baboons-rule.md
  documentation/guides/legacy-polaris-v8-public-api.scss
  polaris-react/playground/DetailsPage.scss
  polaris-react/src/components/AppProvider/AppProvider.scss
  polaris-react/src/components/Avatar/Avatar.scss
  polaris-react/src/components/Button/Button.scss
  polaris-react/src/components/CheckableButton/CheckableButton.scss
  polaris-react/src/components/DatePicker/DatePicker.scss
  polaris-react/src/components/DropZone/components/FileUpload/FileUpload.scss
  polaris-react/src/components/Filters/Filters.scss
  polaris-react/src/components/IndexFilters/components/SortButton/components/DirectionButton/DirectionButton.scss
  polaris-react/src/components/IndexTable/IndexTable.scss
  polaris-react/src/components/KeyboardKey/KeyboardKey.scss
  polaris-react/src/components/Layout/Layout.scss
  polaris-react/src/components/LegacyCard/LegacyCard.scss
  polaris-react/src/components/MediaCard/MediaCard.scss
  polaris-react/src/components/Navigation/Navigation.scss
  polaris-react/src/components/Navigation/_variables.scss
  polaris-react/src/components/Page/components/Header/components/Title/Title.scss
  polaris-react/src/components/Popover/Popover.stories.tsx
  polaris-react/src/components/Select/Select.scss
  polaris-react/src/components/SelectAllActions/SelectAllActions.scss
  polaris-react/src/components/SkeletonPage/SkeletonPage.scss
  polaris-react/src/components/Tabs/Tabs.scss
  polaris-react/src/components/Tag/Tag.scss
  polaris-react/src/components/Text/Text.scss
  polaris-react/src/components/TextField/TextField.scss
  polaris-react/src/components/TopBar/components/UserMenu/UserMenu.scss
  polaris-react/src/styles/shared/_controls.scss
  polaris-react/src/styles/shared/_typography.scss
  polaris.shopify.com/pages/examples/popover-with-searchable-listbox.tsx
  polaris.shopify.com/src/components/TOC/TOC.module.scss
  polaris.shopify.com/src/styles/globals.scss
Owners: @Shopify/polaris-team, @Shopify/polaris-eng

Migrate `font` custom properties from v11 to v12 (#10762)
  .changeset/empty-baboons-rule.md
  documentation/guides/legacy-polaris-v8-public-api.scss
  polaris-react/playground/DetailsPage.scss
  polaris-react/src/components/AppProvider/AppProvider.scss
  polaris-react/src/components/Avatar/Avatar.scss
  polaris-react/src/components/Button/Button.scss
  polaris-react/src/components/CheckableButton/CheckableButton.scss
  polaris-react/src/components/DatePicker/DatePicker.scss
  polaris-react/src/components/DropZone/components/FileUpload/FileUpload.scss
  polaris-react/src/components/Filters/Filters.scss
  polaris-react/src/components/IndexFilters/components/SortButton/components/DirectionButton/DirectionButton.scss
  polaris-react/src/components/IndexTable/IndexTable.scss
  polaris-react/src/components/KeyboardKey/KeyboardKey.scss
  polaris-react/src/components/Layout/Layout.scss
  polaris-react/src/components/LegacyCard/LegacyCard.scss
  polaris-react/src/components/MediaCard/MediaCard.scss
  polaris-react/src/components/Navigation/Navigation.scss
  polaris-react/src/components/Navigation/_variables.scss
  polaris-react/src/components/Page/components/Header/components/Title/Title.scss
  polaris-react/src/components/Popover/Popover.stories.tsx
  polaris-react/src/components/Select/Select.scss
  polaris-react/src/components/SelectAllActions/SelectAllActions.scss
  polaris-react/src/components/SkeletonPage/SkeletonPage.scss
  polaris-react/src/components/Tabs/Tabs.scss
  polaris-react/src/components/Tag/Tag.scss
  polaris-react/src/components/Text/Text.scss
  polaris-react/src/components/TextField/TextField.scss
  polaris-react/src/components/TopBar/components/UserMenu/UserMenu.scss
  polaris-react/src/styles/shared/_controls.scss
  polaris-react/src/styles/shared/_typography.scss
  polaris.shopify.com/pages/examples/popover-with-searchable-listbox.tsx
  polaris.shopify.com/src/components/TOC/TOC.module.scss
  polaris.shopify.com/src/styles/globals.scss
Owners: @Shopify/polaris-team, @Shopify/polaris-eng

Remove all detail tags
  polaris.shopify.com/content/version-guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Remove legacy colors and fix import paths
  polaris-tokens/src/colors-experimental.ts
  polaris-tokens/src/colors.ts
  polaris-tokens/src/themes/base/color.ts
  polaris-tokens/src/themes/light-high-contrast.ts
  polaris-tokens/src/themes/light-uplift.ts
Owners: @Shopify/polaris-eng

[Text] Remove `headingXs` and `heading4xl` types on `variant` prop
  polaris-react/src/components/Text/Text.scss
  polaris-react/src/components/Text/Text.tsx
Owners: @Shopify/polaris-team, @Shopify/polaris-eng

Add in disclaimer about manual shadow migrations
  polaris.shopify.com/content/version-guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Manually migrate `Text` variant `headingXs` to `headingSm`
  polaris-react/src/components/Avatar/Avatar.stories.tsx
  polaris-react/src/components/Badge/Badge.stories.tsx
  polaris-react/src/components/Divider/Divider.stories.tsx
  polaris-react/src/components/Listbox/components/Header/Header.tsx
  polaris-react/src/components/Listbox/components/Header/tests/Header.test.tsx
  polaris-react/src/components/OptionList/OptionList.tsx
  polaris-react/src/components/RangeSlider/components/DualThumb/DualThumb.tsx
  polaris-react/src/components/RangeSlider/components/SingleThumb/SingleThumb.tsx
  polaris-react/src/components/Sheet/Sheet.stories.tsx
  polaris-react/src/components/Text/Text.stories.tsx
  polaris.shopify.com/content/components/deprecated/subheading.md
  polaris.shopify.com/content/components/typography/text.md
  polaris.shopify.com/content/design/typography.md
  polaris.shopify.com/pages/examples/divider-with-border-color.tsx
  polaris.shopify.com/pages/examples/legacy-card-with-custom-react-node-title.tsx
  polaris.shopify.com/pages/examples/sheet-with-searchable-listbox.tsx
  polaris.shopify.com/pages/examples/text-heading.tsx
Owners: @Shopify/polaris-eng, @Shopify/polaris-team, @Shopify/polaris-ux

Manually migrate `Text` variant `heading4xl` to `heading3xl`
  polaris-react/src/components/Text/Text.stories.tsx
  polaris-react/src/components/Text/tests/Text.test.tsx
  polaris.shopify.com/content/components/deprecated/display-text.md
  polaris.shopify.com/content/components/typography/text.md
  polaris.shopify.com/content/design/typography.md
  polaris.shopify.com/pages/examples/text-heading.tsx
Owners: @Shopify/polaris-eng, @Shopify/polaris-team, @Shopify/polaris-ux

Update formatting
  polaris.shopify.com/content/version-guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Update tab styling to accommodate more tabs
  polaris.shopify.com/src/components/TokensPage/TokensPage.module.scss
Owners: @Shopify/polaris-team

Add on-color manual migration docs
  polaris.shopify.com/content/version-guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

[Text] Remove `headingXs` and `heading4xl` and migrate usage (#10771)
  polaris-react/src/components/Avatar/Avatar.stories.tsx
  polaris-react/src/components/Badge/Badge.stories.tsx
  polaris-react/src/components/Divider/Divider.stories.tsx
  polaris-react/src/components/Listbox/components/Header/Header.tsx
  polaris-react/src/components/Listbox/components/Header/tests/Header.test.tsx
  polaris-react/src/components/OptionList/OptionList.tsx
  polaris-react/src/components/RangeSlider/components/DualThumb/DualThumb.tsx
  polaris-react/src/components/RangeSlider/components/SingleThumb/SingleThumb.tsx
  polaris-react/src/components/Sheet/Sheet.stories.tsx
  polaris-react/src/components/Text/Text.scss
  polaris-react/src/components/Text/Text.stories.tsx
  polaris-react/src/components/Text/Text.tsx
  polaris-react/src/components/Text/tests/Text.test.tsx
  polaris.shopify.com/content/components/deprecated/display-text.md
  polaris.shopify.com/content/components/deprecated/subheading.md
  polaris.shopify.com/content/components/typography/text.md
  polaris.shopify.com/content/design/typography.md
  polaris.shopify.com/pages/examples/divider-with-border-color.tsx
  polaris.shopify.com/pages/examples/legacy-card-with-custom-react-node-title.tsx
  polaris.shopify.com/pages/examples/sheet-with-searchable-listbox.tsx
  polaris.shopify.com/pages/examples/text-heading.tsx
Owners: @Shopify/polaris-eng, @Shopify/polaris-team, @Shopify/polaris-ux

[Text] Remove `headingXs` and `heading4xl` and migrate usage (#10771)
  polaris-react/src/components/Avatar/Avatar.stories.tsx
  polaris-react/src/components/Badge/Badge.stories.tsx
  polaris-react/src/components/Divider/Divider.stories.tsx
  polaris-react/src/components/Listbox/components/Header/Header.tsx
  polaris-react/src/components/Listbox/components/Header/tests/Header.test.tsx
  polaris-react/src/components/OptionList/OptionList.tsx
  polaris-react/src/components/RangeSlider/components/DualThumb/DualThumb.tsx
  polaris-react/src/components/RangeSlider/components/SingleThumb/SingleThumb.tsx
  polaris-react/src/components/Sheet/Sheet.stories.tsx
  polaris-react/src/components/Text/Text.scss
  polaris-react/src/components/Text/Text.stories.tsx
  polaris-react/src/components/Text/Text.tsx
  polaris-react/src/components/Text/tests/Text.test.tsx
  polaris.shopify.com/content/components/deprecated/display-text.md
  polaris.shopify.com/content/components/deprecated/subheading.md
  polaris.shopify.com/content/components/typography/text.md
  polaris.shopify.com/content/design/typography.md
  polaris.shopify.com/pages/examples/divider-with-border-color.tsx
  polaris.shopify.com/pages/examples/legacy-card-with-custom-react-node-title.tsx
  polaris.shopify.com/pages/examples/sheet-with-searchable-listbox.tsx
  polaris.shopify.com/pages/examples/text-heading.tsx
Owners: @Shopify/polaris-eng, @Shopify/polaris-team, @Shopify/polaris-ux

Add Text changeset
  .changeset/tiny-avocados-enjoy.md
Owners: @Shopify/polaris-team

Update semantic `border-radius` token layer (#10669)
  .changeset/quick-icons-joke.md
  polaris-react/src/components/Box/Box.tsx
  polaris-react/src/components/Card/Card.tsx
  polaris-react/src/components/ShadowBevel/ShadowBevel.tsx
  polaris-react/src/components/Tooltip/Tooltip.tsx
  polaris-tokens/src/index.ts
  polaris-tokens/src/themes/base/border.ts
Owners: @Shopify/polaris-team, @Shopify/polaris-eng

Update semantic `border-radius` token layer (#10669)
  .changeset/quick-icons-joke.md
  polaris-react/src/components/Box/Box.tsx
  polaris-react/src/components/Card/Card.tsx
  polaris-react/src/components/ShadowBevel/ShadowBevel.tsx
  polaris-react/src/components/Tooltip/Tooltip.tsx
  polaris-tokens/src/index.ts
  polaris-tokens/src/themes/base/border.ts
Owners: @Shopify/polaris-team, @Shopify/polaris-eng

Add Text changeset (#10773)
  .changeset/tiny-avocados-enjoy.md
Owners: @Shopify/polaris-team

.github/CODEOWNERS:

# Default
* @Shopify/polaris-team

# React, TypeScript, JavaScript
*.tsx @Shopify/polaris-eng
*.ts @Shopify/polaris-eng
*.js @Shopify/polaris-eng

# Config files
*.yml @Shopify/polaris-eng
*.json @Shopify/polaris-eng

# Documentation
*.mdx @Shopify/polaris-team
*.md @Shopify/polaris-team

/polaris.shopify.com/content/design @Shopify/polaris-ux
/polaris.shopify.com/content/foundations @Shopify/polaris-ux
/polaris.shopify.com/content/patterns @Shopify/polaris-ux
