Repository Shopify/polaris, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Shopify/polaris-team, @Shopify/polaris-eng, @Shopify/polaris-ux

.github/CODEOWNERS:

# Default
* @Shopify/polaris-team

# React, TypeScript, JavaScript
*.tsx @Shopify/polaris-eng
*.ts @Shopify/polaris-eng
*.js @Shopify/polaris-eng

# Config files
*.yml @Shopify/polaris-eng
*.json @Shopify/polaris-eng

# Documentation
*.mdx @Shopify/polaris-team
*.md @Shopify/polaris-team

/polaris.shopify.com/content/design @Shopify/polaris-ux
/polaris.shopify.com/content/foundations @Shopify/polaris-ux
/polaris.shopify.com/content/patterns @Shopify/polaris-ux

Add Text changeset (#10773)
  .changeset/tiny-avocados-enjoy.md
Owners: @Shopify/polaris-team

Update doc site token pages (#10719)
  polaris-tokens/src/utilities.ts
  polaris.shopify.com/pages/tokens/height.tsx
  polaris.shopify.com/pages/tokens/text.tsx
  polaris.shopify.com/pages/tokens/width.tsx
  polaris.shopify.com/src/components/TokenList/TokenList.module.scss
  polaris.shopify.com/src/components/TokenList/TokenList.tsx
  polaris.shopify.com/src/components/TokensPage/TokensPage.module.scss
  polaris.shopify.com/src/components/TokensPage/TokensPage.tsx
Owners: @Shopify/polaris-eng, @Shopify/polaris-team

Update doc site token pages (#10719)
  polaris-tokens/src/utilities.ts
  polaris.shopify.com/pages/tokens/height.tsx
  polaris.shopify.com/pages/tokens/text.tsx
  polaris.shopify.com/pages/tokens/width.tsx
  polaris.shopify.com/src/components/TokenList/TokenList.module.scss
  polaris.shopify.com/src/components/TokenList/TokenList.tsx
  polaris.shopify.com/src/components/TokensPage/TokensPage.module.scss
  polaris.shopify.com/src/components/TokensPage/TokensPage.tsx
Owners: @Shopify/polaris-eng, @Shopify/polaris-team

Token migration guidance (#10300)
  polaris.shopify.com/content/version-guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Token migration guidance (#10300)
  polaris.shopify.com/content/version-guides/migrating-from-v11-to-v12.md
Owners: @Shopify/polaris-team

Manually migrate `border` custom properties from Polaris v11 to v12
  polaris.shopify.com/content/tools/stylelint-polaris/rules/border-at-rule-disallowed-list.md
  polaris.shopify.com/content/tools/stylelint-polaris/rules/border-custom-property-disallowed-list.md
  polaris.shopify.com/content/tools/stylelint-polaris/rules/border-declaration-property-unit-disallowed-list.md
  polaris.shopify.com/content/tools/stylelint-polaris/rules/border-function-disallowed-list.md
Owners: @Shopify/polaris-team

Remove legacy colors
  polaris-tokens/src/themes/base/color.ts
Owners: @Shopify/polaris-eng

Manually migrate `color` custom properties from Polaris v11 to v12
  polaris.shopify.com/content/tools/stylelint-polaris/rules/border-at-rule-disallowed-list.md
  polaris.shopify.com/content/tools/stylelint-polaris/rules/color-at-rule-disallowed-list.md
  polaris.shopify.com/content/tools/stylelint-polaris/rules/color-function-disallowed-list.md
  polaris.shopify.com/content/tools/stylelint-polaris/rules/conventions-custom-property-allowed-list.md
Owners: @Shopify/polaris-team

Manually migrate `font` custom properties from Polaris v11 to v12
  polaris.shopify.com/content/tools/stylelint-polaris/rules/conventions-custom-property-allowed-list.md
  polaris.shopify.com/content/tools/stylelint-polaris/rules/typography-declaration-property-unit-disallowed-list.md
  polaris.shopify.com/content/tools/stylelint-polaris/rules/typography-function-disallowed-list.md
  polaris.shopify.com/content/tools/stylelint-polaris/rules/typography-global-disallowed-list.md
Owners: @Shopify/polaris-team

[Button] Manually migrate button shadow tokens that are context based
  polaris-react/src/components/Button/Button.scss
Owners: @Shopify/polaris-team

Manually migrate `shadow` custom properties from Polaris v11 to v12
  polaris.shopify.com/content/tools/stylelint-polaris/rules/shadow-custom-property-disallowed-list.md
  polaris.shopify.com/content/tools/stylelint-polaris/rules/shadow-declaration-property-unit-disallowed-list.md
  polaris.shopify.com/content/tools/stylelint-polaris/rules/shadow-function-disallowed-list.md
Owners: @Shopify/polaris-team

Migrate `shadow` custom properties from v11 to v12
  polaris-react/src/components/ActionMenu/components/SecondaryAction/SecondaryAction.scss
  polaris-react/src/components/BulkActions/BulkActions.scss
  polaris-react/src/components/Button/Button.scss
  polaris-react/src/components/DataTable/DataTable.scss
  polaris-react/src/components/DropZone/components/FileUpload/FileUpload.scss
  polaris-react/src/components/Frame/components/Toast/Toast.scss
  polaris-react/src/components/FullscreenBar/FullscreenBar.scss
  polaris-react/src/components/IndexFilters/IndexFilters.scss
  polaris-react/src/components/IndexTable/IndexTable.scss
  polaris-react/src/components/LegacyCard/LegacyCard.scss
  polaris-react/src/components/Modal/components/Dialog/Dialog.scss
  polaris-react/src/components/Navigation/Navigation.scss
  polaris-react/src/components/Page/components/Header/Header.scss
  polaris-react/src/components/Pagination/Pagination.scss
  polaris-react/src/components/RangeSlider/components/DualThumb/DualThumb.scss
  polaris-react/src/components/RangeSlider/components/SingleThumb/SingleThumb.scss
  polaris-react/src/components/ResourceList/ResourceList.scss
  polaris-react/src/components/Select/Select.scss
  polaris-react/src/components/Sheet/Sheet.scss
  polaris-react/src/components/Thumbnail/Thumbnail.scss
  polaris-react/src/components/Tooltip/components/TooltipOverlay/TooltipOverlay.scss
  polaris-react/src/components/TopBar/TopBar.scss
  polaris-react/src/components/TopBar/components/Search/Search.scss
  polaris-react/src/styles/foundation/_shadow-bevel.scss
  polaris-react/src/styles/shared/_buttons.scss
Owners: @Shopify/polaris-team

Update Tab color tokesn
  polaris-react/src/components/Tabs/Tabs.scss
Owners: @Shopify/polaris-team
